.container1, .findUniqueContainer , .swapContainer{
    border: 3px solid yellowgreen;
    padding: 20px;
    margin-bottom: 20px;
}
.findUniqueContainer{
    border: 3px solid #d64edf;
}
.swapContainer{
    border: 3px solid #1f17a3;
}
button {
    background-color: rgb(246 228 212);
    color: #e36b14;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid;
    margin: 20px;
}
button:hover{
    box-shadow: 1px 1px 9px #d7d2d2;

}
.box1 {
    background: antiquewhite;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    font-size: 18px;
}
.box2{
    background: yellowgreen;
}
.box3{
    background:aqua;

}
.box2 , .box3 {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
}
.box4{
    width: 100px;
    height: 100px;
    background: pink;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}
/* /////////////// */
.multiBox{
    height: 120px;
    width: 150px;
    background: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid teal;
    border-radius: 5px;
    margin: 10px;
}
.uniqueBtn{
    display: flex;
    background: aliceblue;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: cadetblue;
    cursor: pointer;
}
.uniqueBtn:hover{
    box-shadow: 0px 0px 5px grey;

}
/* /////////////////// */
.eachBox{
    display: grid;
    grid-template-columns: 20% 20%;
    justify-content: center;
    grid-gap: 10px;
    margin: 10px;
}
.eachBox div:first-child{
    background-color: #ddddab;
    padding: 10px;
    text-align: center;
}
.eachBox div:nth-child(2){
    background-color: #dbb4b4;
    padding: 10px;
    text-align: center;
}